/* Global styles */
body {
  margin: 0;
  padding: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding-top: 90px; /* Adjust based on your actual Navbar height */
}

main {
  flex-grow: 1;
}
